.special-pg-section {
  margin: 60px 0;
}
.special-pg-section .light-title {
  margin: 15px 0;
}
.special-section-img {
  margin: 60px 0 0 0;
}
.special-section-img img {
  border-radius: 10px;
}
.special-pg-section .white-paragraph {
  margin: 80px 0 50px;
}
