* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    text-decoration: none;
    list-style: none;
    color: white;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}
:root {
    --primary: #b8860b;
}
::selection {
    color: rgb(40, 30, 0);
    color: rgb(255, 246, 186);
    background: #987d3aca;
}
body {
    background-color: #1c1111;
}
/* Global & Reusable Classes */
.d-none {
    display: none !important;
}
.white-title {
    font-weight: 100;
}
.white-paragraph {
    font-weight: 100;
    margin: 10px 0 00 0;
    font-size: 18px;
}

img {
    width: 100%;
}

.container {
    width: 900px;
    margin: 0 auto;
}
.go-to-top-btn {
    position: fixed;
    width: 40px;
    aspect-ratio: 1/1;
    bottom: 70px;
    right: 70px;
    border-radius: 7px;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateX(200px);
}
.go-to-top-btn.shown {
    transform: translateX(0);
}
.go-to-top-btn.shown:hover {
    transform: translateX(0) scale(1.1);
}
@media screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}

/* Header & Footer Styles */

/* Header */
header.header {
    display: flex;
    margin: 27px 0 18px;
}
header .logo {
    width: 20%;
}
.logo .logo-img {
    width: 100%;
}
.nav-menu-item .nav-submenu-item-container {
    display: none;
}

.social-nav-container .header-nav {
    display: flex;
    max-width: max-content;
    margin: 0 auto;
}

.header-nav .nav-item {
    font-size: 16px;
    display: block;
    position: relative;
}
.header-nav .nav-item a::before {
    content: "";
    background: var(--primary);
    height: 1px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    transition: transform 0.3s ease;
    transform-origin: right;
    transform: scaleX(0);
}
.header-nav .nav-item a:hover,
.header-nav .nav-item.active a {
    color: var(--primary);
}
.header-nav .nav-item a:hover::before,
.header-nav .nav-item.active a::before {
    transform-origin: left;
    transform: scaleX(0.9999);
}
.header-nav .nav-item:not(:last-child) {
    margin: 0 40px 0 0;
}
.social-nav-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-nav-container .social-info {
    width: max-content;
    align-self: flex-end;
    display: flex;
    align-items: center;
}
.social-info .social-icons {
    display: flex;
}
.social-info .tel-num {
    margin: 0 30px 0 0;
    cursor: default;
}
.social-icons .social-icon-item {
    aspect-ratio: 1/1;
    width: 20px;
    display: grid;
    place-items: center;
}
.social-icon-item img {
    user-select: none;
}
.social-icon-item:hover img {
    filter: brightness(0) invert(1);
}
.social-icons .social-icon-item:not(:first-child, :last-child) {
    margin: 0 18px;
}

.mobile-menu-toggle-btn {
    display: none;
    color: var(--primary);
}
.mobile-menu-toggle-btn i {
    color: var(--primary);
    font-size: 20px;
}
.mobile-menu-overly,
.social-nav-container .menu-close-btn {
    display: none;
}

/* primary btn */
.primary-btn-bg,
.primary-btn {
    border-radius: 5px;
    display: inline-block;
    font-weight: 100;
    width: max-content;
    border: 1px solid var(--primary);
    background: transparent;
}
.primary-btn {
    color: var(--primary);
}
.primary-btn-bg {
    background: linear-gradient(149deg, #edb13e 0 69%, #94712f 100% 100%);
    box-shadow: -2px 2px 4px 0px rgb(0 0 0 / 19%);
    position: relative;
}
.primary-btn-bg:hover,
.primary-btn:hover {
    transform: scale(1.1);
}
.back-btn {
    display: block;
    margin: 80px auto 20px;
    padding: 6px 20px;
    font-size: 18px;
}

/* footer */
.footer-container {
    background-color: #1b0e01;
    padding: 50px 0;
}
footer.footer {
    display: flex;
    justify-content: space-between;
}
footer.footer > * {
    width: 45%;
    display: flex;
}
footer.footer .footer-map {
    background-color: rgb(161, 155, 155);
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-content > * {
    width: 40%;
}
.footer-content .footer-address,
.footer-content .footer-contact {
    font-size: 18px;
    font-weight: 100;
}
.footer-content .footer-contact-btn a {
    padding: 15px 22px;
    font-size: 24px;
}
.footer-content .footer-social p {
    font-size: 22px;
    text-transform: uppercase;
}
.footer-social .footer-social-icons {
    display: flex;
    margin: 20px 0 0 0;
    justify-content: space-between;
}
.footer-social-icons .social-icon-item {
    width: 40px;
}
.social-icons.footer-social-icons
    .social-icon-item:not(:first-child, :last-child) {
    margin: 0;
}

@media screen and (max-width: 970px) {
    .footer-content > * {
        width: 45%;
    }
    footer.footer > * {
        width: 49%;
    }
    .footer-social-icons .social-icon-item {
        width: 30px;
    }
    .social-icons.footer-social-icons
        .social-icon-item:not(:first-child, :last-child) {
        margin: 15px;
    }
}

@media screen and (max-width: 870px) {
    .header-nav .nav-item:not(:last-child) {
        margin: 0 30px 0 0;
    }
    .social-nav-container .header-nav {
        margin: 0 0 0 auto;
    }
    .footer-social .footer-social-icons {
        justify-content: unset;
        margin: 0;
    }
}
@media screen and (max-width: 870px) and (min-width: 650px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-content > * {
        width: 100%;
    }
    .footer-content .footer-contact-btn {
        order: -1;
    }
}

@media screen and (max-width: 750px) {
    .header-nav .nav-item:not(:last-child) {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width: 650px) {
    .social-nav-container {
        position: fixed;
        background: #1c1111;
        width: 70vw;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 3;
        padding: 30px 40px;
        justify-content: flex-start;
        overflow-y: scroll;
        border-left: 5px solid var(--primary);
    }
    .header-nav .nav-item,
    .nav-submenu-item-container .submenu-title {
        font-size: 19px;
    }
    .header-nav > * {
        margin: 10px 0 0 0 !important;
        max-width: max-content;
    }
    .nav-menu-item .nav-item {
        display: none;
    }
    .nav-menu-item .nav-submenu-item-container {
        display: block;
    }
    .nav-submenu-item-container .submenu-title i {
        font-size: 11px;
        margin: 0 0 0 5px;
    }
    .nav-submenu-item-container .submenu-container {
        padding: 7px 0 5px 20px;
    }
    .nav-submenu-item-container.closed .submenu-title i {
        transform: rotate(0);
    }
    .nav-submenu-item-container.closed .submenu-container {
        display: none;
    }
    .nav-submenu-item-container.opened .submenu-title i {
        transform: rotate(180deg);
    }
    .nav-submenu-item-container.opened .submenu-container {
        display: block;
    }
    .nav-submenu-item-container.opened .submenu-title :is(span, i),
    .nav-submenu-item-container:has(.submenu-item.active)
        .submenu-title
        :is(span, i) {
        color: var(--primary);
    }

    .social-nav-container .header-nav {
        flex-direction: column;
        margin: 0;
    }
    .mobile-menu-toggle-btn {
        display: block;
        margin: 8px -10px 0 0px;
    }
    header.header {
        justify-content: space-between;
        align-items: flex-start;
    }
    .logo .logo-img img {
        width: 120px;
    }
    .mobile-menu-overly {
        display: block;
        position: fixed;
        inset: 0;
        background-color: #00000056;
        z-index: 2;
    }
    .mobile-menu-overly.closed {
        display: none;
    }

    .mobile-menu-overly.opened {
        display: block;
    }
    .social-nav-container .menu-close-btn {
        display: block;
        width: 30px;
        display: grid;
        place-items: center;
        aspect-ratio: 1/1;
        position: absolute;
        right: 50px;
        font-size: 26px;
    }
    .social-nav-container.closed {
        transform: translateX(100vw);
    }
    .social-nav-container.opened {
        transform: translateX(0);
    }
    .social-nav-container .social-info {
        display: none;
    }
    .submenu-container .submenu-item {
        font-size: 17px;
        margin: 7px 0;
        text-transform: capitalize;
    }
    .submenu-container .submenu-item a span:hover,
    .submenu-container .submenu-item.active a span {
        color: var(--primary);
    }
    footer.footer {
        flex-direction: column;
    }
    footer.footer > * {
        width: 100%;
    }
    .footer-social,
    .footer-contact-btn {
        margin: 25px 0 35px 0;
    }
}

@media screen and (max-width: 400px) {
    .social-nav-container {
        width: 100vw;
    }
    .hero-section .hero-section-title {
        font-size: 35px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-content > * {
        width: 100%;
    }
    .footer-content .footer-contact-btn {
        order: -1;
    }
    .footer-social,
    .footer-contact-btn {
        margin: 0;
    }
    .footer-content > * {
        margin: 20px 00 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-icons.footer-social-icons
        .social-icon-item:not(:first-child, :last-child) {
        margin: 0 25px;
    }
    .footer-social .footer-social-icons {
        margin: 15px 0 25px;
    }
}
