@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
  text-decoration: none;
  list-style: none;
  color: white;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
:root {
  --primary: #bc8913;
}
::selection {
  color: rgb(40, 30, 0);
  color: rgb(255, 246, 186);
  background: #987d3aca;
}
body {
  background-color: #1c1111;
}
/* Global & Reusable Classes */
.d-none {
  display: none !important;
}
.white-title {
  font-weight: 200;
}
.white-paragraph {
  font-weight: 200;
  margin: 10px 0 00 0;
  font-size: 17px;
  line-height: 1.3;
}

img {
  width: 100%;
}

.container {
  width: 900px;
  margin: 0 auto;
}
.go-to-top-btn {
  position: fixed;
  width: 40px;
  aspect-ratio: 1/1;
  bottom: 70px;
  right: 70px;
  border-radius: 7px;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: translateX(200px);
  z-index: 5;
}
.go-to-top-btn i {
  color: var(--primary);
}
.go-to-top-btn.shown {
  transform: translateX(0);
}
.go-to-top-btn.shown:hover {
  transform: translateX(0) scale(1.1);
}
.highlight-title {
  color: var(--primary);
  font-size: 42px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.light-title {
  font-size: 25px;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.book-now-btn {
  padding: 20px 50px;
  display: block;
  color: black;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  margin: 30px auto 0;
  display: flex !important;
}

/* Header & Footer Styles */
/* Header */
header.header {
  display: flex;
  margin: 27px 0 18px;
}
header .logo {
  width: 20%;
}
.logo .logo-img {
  width: 100%;
}
.nav-menu-item .nav-submenu-item-container {
  display: none;
}

.social-nav-container .header-nav {
  display: flex;
  max-width: max-content;
  margin: 0 auto;
}

.header-nav .nav-item {
  font-size: 16px;
  display: block;
  position: relative;
}
.header-nav .nav-item a::before {
  content: "";
  background: var(--primary);
  height: 1px;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  transition: transform 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
}
.header-nav .nav-item a:hover,
.header-nav .nav-item.active a {
  color: var(--primary);
}
.header-nav .nav-item a:hover::before,
.header-nav .nav-item.active a::before {
  transform-origin: left;
  transform: scaleX(0.9999);
}
.header-nav .nav-item:not(:last-child) {
  margin: 0 40px 0 0;
}
.social-nav-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-nav-container .social-info {
  width: max-content;
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.social-info .social-icons {
  display: flex;
}
.social-info .tel-num {
  margin: 0 30px 0 0;
  cursor: default;
}
.social-icons .social-icon-item {
  aspect-ratio: 1/1;
  width: 20px;
  display: grid;
  place-items: center;
}
.social-icon-item img {
  user-select: none;
}
.social-icon-item:hover img {
  filter: brightness(0) invert(1);
}
.social-icons .social-icon-item:not(:first-child, :last-child) {
  margin: 0 18px;
}

.mobile-menu-toggle-btn {
  display: none;
  color: var(--primary);
}
.mobile-menu-toggle-btn i {
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
}
.mobile-menu-overly,
.social-nav-container .menu-close-btn {
  cursor: pointer;
}
.social-nav-container .menu-close-btn {
  display: none;
}

/* primary btn */
.primary-btn-bg,
.primary-btn {
  border-radius: 5px;
  display: inline-block;
  font-weight: 200;
  width: max-content;
  border: 1px solid var(--primary);
  background: transparent;
}
.primary-btn {
  color: var(--primary);
}
.primary-btn-bg {
  background: linear-gradient(149deg, #edb13e 0 69%, #94712f 100% 100%);
  box-shadow: -2px 2px 4px 0px rgb(0 0 0 / 19%);
  position: relative;
}
.primary-btn-bg:hover,
.primary-btn:hover {
  transform: scale(1.1);
}
.back-btn {
  display: block;
  margin: 80px auto 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--primary);
  cursor: pointer;
}
.back-btn span {
  color: inherit;
}
.back-btn i {
  color: inherit;
  font-size: 14px;
  margin: 0 4px 0 0;
}

/* offer card */
.offer-card {
  display: flex;
  margin: 50px 0 0 0;
  border-radius: 10px;
}
.offer-card > * {
  width: 50%;
}
.offer-card .offer-card-content {
  border: 1px solid var(--primary);
  border-right: none;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  padding: 25px 35px;
}
.offer-card-content h1 {
  font-weight: 200;
  font-size: 35px;
  color: var(--primary);
  text-transform: uppercase;
  margin: 0 0 30px 0;
}
.offer-card-content p {
  font-weight: 200;
  font-size: 17px;
  line-height: 1.2;
  display: inline;
}
.offer-card-content a {
  background: linear-gradient(116deg, var(--primary), #2e2c2c);
  border-radius: 5px;
  aspect-ratio: 1/1;
  width: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  transition: transform 0.3s ease;
}
.offer-card-content a:hover {
  transform: translateX(5px);
}
.offer-card .offer-card-img {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  overflow: hidden;
}
.offer-card-img img {
  width: 100%;
  height: 100%;
}

/* footer */
.footer-container {
  background-image: url(../images/tree-bg.png);
  background-size: auto 100%;
}
.footer-container .footer-bg {
  position: relative;
}
.footer-container .footer-bg::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: #1c1111e0;
}
footer.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  z-index: 2;
  position: relative;
}
footer.footer .footer-map {
  width: 40%;
  background-color: rgb(161, 155, 155);
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
footer.footer .footer-map iframe {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: inherit;
}
.footer-content {
  width: 45%;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-content > * {
  width: 40%;
}
.footer-content .footer-address,
.footer-content .footer-contact {
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
}
.footer-content .footer-contact-btn a {
  padding: 15px 22px;
  font-size: 24px;
}
.footer-content .footer-social p {
  font-size: 22px;
  text-transform: uppercase;
}
.footer-social .footer-social-icons {
  display: flex;
  margin: 20px 0 0 0;
  justify-content: space-between;
}
.footer-social-icons .social-icon-item {
  width: 25px;
}
.social-icons.footer-social-icons
  .social-icon-item:not(:first-child, :last-child) {
  margin: 0;
}
.start-container {
  margin-top: 70px;
}
